* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .page {
    background: #131414;
}


  .navbar {
    font-size: 20px;
    background: black;

  }

  #main-nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
  }

  #main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .nav-links,
  #logo {
    text-decoration: none;
    color: silver;
  }

  #logo:hover,
  .nav-links:hover {
    color: silver;
  }

  #logo {
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
  }

  #navbar-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    color: silver;
    font-size: 24px;
  }

  #navbar-toggle:hover {
    color: silver;
  }

  .active {
    display: block;
}

  @media screen and (min-width: 768px) {



    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 120px;
      align-items: center;
      font-size: 30px;
    }

    #main-nav {
      display: flex !important;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    #main-nav li {
      margin: 0;
    }

    .nav-links {
      margin-left: 40px;
    }

    #logo {
      margin-top: 0;
      font-family: 'Permanent Marker', cursive;
      font-size: 50px;
    }

    #navbar-toggle {
      display: none;
    }

  }  