* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    background: #131414;
}


li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: silver;
    text-decoration: none;
}

header {
    display: flex;
    justify-content:  space-around;
    align-items: center;
    padding: 30px 10px;
    color: silver;
    background-color: black;
}

h1 {

    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin-left: 20px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: grey;
}

button {
    padding: 10px 20px;
    background-color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: green;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #181A1B;
  }
  
/* Slides */
#firstSlide {
    display: block;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #131414;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {
      font-style: italic;
      color: silver;
    
    }
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
  